In [1]:
import pandas as pd
import numpy as np

In [2]:
table = pd.read_excel('aihw-phe-236.xlsx', sheet_name = 'National fact sheet', header = None)
#table

In [3]:
table_1 = table.loc[11:20,[0,1,2,3]]
table_1.columns = ['Vaccine/antigen', '1 years olds (%)', '2 years old (%)', '5 years old (%)']
# table_1

,Vaccine/antigen,1 years olds (%),2 years old (%),5 years old (%)
11,DTP (diphtheria/tetanus/whooping cough),94.75,92.66,94.39
12,Hepatitis B,94.71,96.3,. .
13,Hib,94.5,95.38,. .
14,IPD (invasive pneumococcal disease),94.38,. .,. .
15,Meningococcal C,. .,95.4,. .
16,MMR (measles/mumps/rubella),. .,93.45,95.7
17,Polio,94.72,96.42,94.44
18,Varicella,. .,92.9,. .
19,Fully immunised,94,90.5,94
20,Rotavirus,87.5,. .,. .

In [4]:
table_1.to_csv('Vaccination coverage estimates for children at age 1, 2 and 5 years in Australia, 2017.csv', index = False)

In [6]:
table_2 = table.loc[34:49,[0,1,2]]
table_2.columns = [' ', '2016', '2017']
# table_2

                                         2016    2017
34                           Influenza  90839  250720
35          Whooping cough (pertussis)  20106   12192
36            Shingles (herpes zoster)    . .     . .
37                Pneumococcal disease   1666    2049
38                               Mumps    804     811
39                           Rotavirus    . .     . .
40              Chickenpox (varicella)    . .     . .
41               Meningococcal disease    252     381
42                         Hepatitis A    145     216
43  Hepatitis B (acute/newly acquired)    162     141
44                             Measles     99      81
45                                 Hib     17      16
46                             Tetanus      7       4
47                               Polio      0       0
48                             Rubella     15      10
49                          Diphtheria      8       8

In [7]:
table_2.to_csv('Number of notifications for vaccine preventable diseases in Australia, by disease, 2016 and 2017.csv', index = False)

In [9]:
table_3 = table.loc[63:78,[0,1]]
table_3.columns = [' ', '2016']
# table_3

                                         2016
63                           Influenza  12105
64          Whooping cough (pertussis)    445
65            Shingles (herpes zoster)   2677
66                Pneumococcal disease   2434
67                               Mumps     97
68                           Rotavirus    426
69              Chickenpox (varicella)    395
70               Meningococcal disease    245
71                         Hepatitis A     74
72  Hepatitis B (acute/newly acquired)     76
73                             Measles     50
74                                 Hib     17
75                             Tetanus     14
76                               Polio     <5
77                             Rubella     <5
78                          Diphtheria     <5

In [10]:
table_3.to_csv('Number of hospitalisations for vaccine preventable diseases in Australia, by disease, 2016.csv', index = False)

In [13]:
table_4 = table.loc[90:105,[0,1]]
table_4.columns = [' ', '2016']
# table_4

In [14]:
table_4.to_csv('Number of deaths from vaccine preventable diseases in Australia, by disease, 2016.csv', index = False)

In [16]:
b = pd.read_excel('aihw-phe-236.xlsx', sheet_name = 'Indigenous fact sheet', header = None)
# b

In [19]:
b_1 = b.loc[13:39,[0,1,2,3]]
b_1.columns = ['Vaccine/antigen', 'Milestone age', 'Indigenous (%) ', 'Non-Indigenous (%)']
# b_1

In [20]:
b_1.to_csv('Vaccination coverage estimates for children at age 1, 2 and 5 years, by Indigenous status, Australia, 2016.csv', index = False)

In [25]:
b_2 = b.loc[51:63,[0,1,2,3,4,5]]
b_2.columns = ['Disease', 'Total number of notifications', '', 'Indigenous(Number of notifications)', 
               'Indigenous(% of notifications )', 'Indigenous(Notification rate ratio)']
b_2.drop('', axis=1, inplace=True)            
# b_2

,Disease,Total number of notifications,Indigenous(Number of notifications),Indigenous(% of notifications ),Indigenous(Notification rate ratio)
51,Influenza(a),129172,5782,4.5,1
52,Mumps,1636,955,58.4,39.5
53,Invasive pneumococcal disease,4727,581,12.3,6.1
54,Whooping cough (pertussis)(a),28167,572,2,0.6
55,Invasive meningococcal disease,602,63,10.5,3.1
56,Hepatitis B - acute only,474,45,9.49367,7.94702
57,Measles,512,14,2.73438,. .
58,Hib,54,9,16.6667,. .
59,Hepatitis A,555,8,1.44144,. .
60,Diphtheria,12,2,16.6667,. .
61,Tetanus,12,0,0,. .
62,Rubella,48,0,0,. .
63,Polio,0,0,. .,. .

In [26]:
b_2.to_csv('Notifications for vaccine preventable diseases, by disease and Indigenous status, 2014–2016.csv', index = False)

In [27]:
b_3 = b.loc[83:98,[0,1,2,3,4,5]]
b_3.columns = ['Disease', 'Total no. of hosp.', '', 'Indigenous(No. of hosp.)', 
               'Indigenous(% of hosp.)', 'Indigenous(Hospitalisation rate ratio)']
b_3.drop('', axis=1, inplace=True)            
# b_3

,Disease,Total no. of hosp.,Indigenous(No. of hosp.),Indigenous(% of hosp.),Indigenous(Hospitalisation rate ratio)
83,Influenza,31838,1548,4.9,2.1
84,Shingles (herpes zoster),7418,145,2,1.7
85,Pneumococcal disease,6657,774,11.6,7.3
86,Rotavirus,1942,217,11.2,2.7
87,Whooping cough (pertussis),1246,73,5.9,1.5
88,Chickenpox (varicella),1138,37,3.3,1.1
89,Meningococcal disease,591,51,8.6,2.3
90,Mumps,240,38,15.8,5.2
91,Hepatitis A,299,9,3.01003,. .
92,Hepatitis B (acute only),252,11,4.36508,. .
93,Measles,191,6,3.14136,. .
94,Hib,61,8,13.1148,. .
95,Tetanus,32,<5,<15,. .
96,Rubella,6,0,0,. .
97,Diphtheria,<5,0,0,. .
98,Polio,<5,0,0,. .

In [28]:
b_3.to_csv('Number of hospitalisations for vaccine preventable diseases, by disease and Indigenous status, Australia, 2014–2016.csv', index = False)

In [29]:
b_4 = b.loc[115:130,[0,1,2,3,4,5]]
b_4.columns = ['Disease', 'Total no. of deaths', '', 'Indigenous(No. of deaths)', 
               'Indigenous(% of deaths )', 'Indigenous(Mortality rate ratio)']
b_4.drop('', axis=1, inplace=True)            
# b_4

,Disease,Total no. of deaths,Indigenous(No. of deaths),Indigenous(% of deaths ),Indigenous(Mortality rate ratio)
115,Influenza,1513,52,3.43688,3
116,Shingles (herpes zoster),226,2,0.884956,. .
117,Pneumococcal disease,417,47,11.271,6.1
118,Rotavirus,13,0,0,. .
119,Whooping cough (pertussis),30,1,3.33333,. .
120,Chickenpox (varicella),75,0,0,. .
121,Meningococcal disease,222,20,9.00901,2.1
122,Mumps,7,0,0,. .
123,Polio,183,0,0,. .
124,Hepatitis B - acute,157,27,17.1975,11.1
125,Hepatitis A,14,2,14.2857,. .
126,Rubella,11,0,0,. .
127,Tetanus,9,0,0,. .
128,Hib,4,1,25,. .
129,Measles,3,0,0,. .
130,Diphtheria,3,1,33.3333,. .

In [30]:
b_4.to_csv('Number of deaths from vaccine preventable diseases, by disease and Indigenous status, New South Wales, Queensland, Western Australia, South Australia and the Northern Territory combined, 2000–2016.csv', index = False)

In [32]:
b_5 = b.loc[153:155,[0,1,2,3]]
b_5.columns = ['', 'Number', 'Percent', 'Notification rate ratio']
# b_5

                            Number Percent Notification rate ratio
153  Indigenous Australians    955    58.4                 39.4514
154       Other Australians    681    41.6                     . .
155                   Total   1636     100                     . .

In [33]:
b_5.to_csv('Mumps notifications by Indigenous status, Australia, 2014–2016.csv', index = False)

In [36]:
b_6 = b.loc[160:164, [0,1,2,3,4,5,6,7,8,9,10,11,12]]
b_6.columns = ['', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']
# b_6

,,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
160,Indigenous,2,0,132,110,11,2.0000,0.0000,0.0000,2.0000,1.0000,401.0000,547.0000
161,Other Australians,55,60,77,70,80,29.0000,49.0000,57.0000,83.0000,58.0000,127.0000,128.0000
162,Crude rates (notifications per million populat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,Indigenous,8.48,0,535.99,437.41,42.89,7.6500,0.0000,0.0000,7.2200,3.5400,1390.0100,1857.6800
164,Other Australians,6.1142,6.5779,8.2876,7.3811,8.2517,2.9422,4.8963,5.5865,7.9824,5.4944,11.8621,11.7832

In [37]:
b_6.to_csv('Number of notifications and crude notification rates for mumps by Indigenous status, Victoria, Western Australia, South Australia, Tasmania and the Northern Territory combined, 2005 to 2016.csv', index = False)

In [38]:
b_7 = b.loc[169:173, [0,1,2,3,4,5]]
b_7.columns = ['Age', 'Number(2007-2008)', 'Percent(2007-2008)', '', 'Number(2015–2016)', 'Percent(2015–2016)']
b_7.drop('', axis=1, inplace=True)
# b_7

,Age,Number(2007-2008),Percent(2007-2008),Number(2015–2016),Percent(2015–2016)
169,under 10 years,33,13.6364,91,9.59916
170,10–19 years,104,42.9752,348,36.7089
171,20–29 years,73,30.1653,261,27.5316
172,30–49 years,25,10.3306,222,23.4177
173,50 years and over,7,2.89256,26,2.74262

In [39]:
b_7.to_csv('Mumps notifications among Indigenous Australians by age, Victoria, Western Australia, South Australia, Tasmania and the Northern Territory combined, 2007–2008 and 2015–2016.csv', index = False)

In [41]:
b_8 = b.loc[189:191, [0,1,2,3]]
b_8.columns = ['', 'Number', 'Percent', 'Hospitalisation rate ratio']
# b_8

In [53]:
b_8.to_csv('Mumps hospitalisations by Indigenous status, Australia, 2014–2016.csv',index = False)

In [45]:
b_9 = b.loc[208:212, [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]]
b_9.columns = ['Number of notifications', '2002', '2003', '2004', '2005', '2006', '2007',
              '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']
# b_9

In [46]:
b_9.to_csv('Number of notifications and crude notifications rates for invasive meningococcal disease by Indigenous status, New South Wales, Victoria, Queensland, Western Australia, South Australia and the Northern Territory combined, 2002 to 2016', index = False)

In [48]:
b_10 = b.loc[227:228, [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]]
b_10.columns = ['', '2002', '2003', '2004', '2005', '2006', '2007',
              '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']
# b_10

In [52]:
b_10.to_csv('Crude hospitalisation rates (hospitalisations per million population) for meningococcal disease by Indigenous status, Australia, 2002 to 2016.csv', index = False)

In [51]:
b_11 = b.loc[232:234, [0,1,2,3]]
b_11.columns = ['', 'Number', 'Percent','Hospitalisation rate ratio']
# b_11

                            Number Percent Hospitalisation rate ratio
232  Indigenous Australians     51     8.6                        2.3
233       Other Australians    540    91.4                        . .
234                   Total    591     100                        . .

In [54]:
b_11.to_csv('Number of hospitalisations for meningococcal disease by Indigenous status, Australia, 2014–2016.csv', index = False)

In [55]:
b_12 = b.loc[248:250, [0,1,2,3]]
b_12.columns = ['', 'Number', 'Percent','Mortality rate ratio']
# b_12

                            Number Percent Mortality rate ratio
248  Indigenous Australians     20       9                  2.1
249       Other Australians    202      91                  . .
250                   Total    222     100                  . .

In [56]:
b_12.to_csv('Deaths from meningococcal disease by Indigenous status, New South Wales, Queensland, Western Australia, South Australia and the Northern Territory combined, 2000–2016.csv', index = False)

In [62]:
b_13 = b.loc[272:274, [0,1,2]]
b_13.columns = ['', 'Number (Infants (<1 year old) (all states and territories))',
                'Percent (Infants (<1 year old) (all states and territories) )']
# b_13

,,Number (Infants (<1 year old) (all states and territories)),Percent (Infants (<1 year old) (all states and territories) )
272,Indigenous Australians,124,8.46995
273,Other Australians,1340,91.5301
274,Total,1464,100

In [65]:
b_14 = b.loc[276:278, [0,1,2]]
b_14.columns = ['', 'Number(All ages (Vic, Qld, WA, SA, the ACT and the NT only))',
               'Percent (All ages (Vic, Qld, WA, SA, the ACT and the NT only))']
# b_14

,,"Number(All ages (Vic, Qld, WA, SA, the ACT and the NT only))","Percent (All ages (Vic, Qld, WA, SA, the ACT and the NT only))"
276,Indigenous Australians,572,2.03075
277,Other Australians,27595,97.9693
278,Total,28167,100

In [67]:
result = pd.merge(b_13, b_14, on = [''])
result

,,Number (Infants (<1 year old) (all states and territories)),Percent (Infants (<1 year old) (all states and territories) ),"Number(All ages (Vic, Qld, WA, SA, the ACT and the NT only))","Percent (All ages (Vic, Qld, WA, SA, the ACT and the NT only))"
0,Indigenous Australians,124,8.46995,572,2.03075
1,Other Australians,1340,91.5301,27595,97.9693
2,Total,1464,100,28167,100

In [68]:
result.to_csv('Number of whooping cough notifications by Indigenous status and age, 2014–2016.csv', index = False)

In [69]:
b_15 = b.loc[283:287, [0,1,2,3,4,5,6,7,8,9,10,11,12,13]]
b_15.columns = ['', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']
# b_15

,,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
283,Indigenous,25,28,16,10,82,139.00,60.00,123.00,64.00,45.00,22.00,41.00,59.00
284,Other Australians,255,222,139,116,482,1012.00,874.00,1029.00,671.00,329.00,274.00,511.00,541.00
285,Crude rates (notifications per million populat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286,Indigenous,1617.49,1745.53,966.36,605.51,4944.82,8342.84,3637.02,7678.38,3868.71,2646.28,1258.44,2279.93,3191.60
287,Other Australians,1098.23,936.78,565.39,441.52,1785.11,3696.75,3169.03,3819.46,2369.70,1143.96,969.10,1804.13,1859.13

In [70]:
b_15.to_csv('Number of notifications and crude notification rates for whooping cough among infants, by Indigenous status, New South Wales, Victoria, Queensland, Western Australia, South Australia, Tasmania and the Northern Territory combined, 2004 to 2016.csv', index = False)

In [71]:
b_16 = b.loc[303:305, [0,1,2]]
b_16.columns = ['', 'Number (Infants (<1 year old))', 'Percent (Infants (<1 year old))']
# b_16

,,Number (Infants (<1 year old)),Percent (Infants (<1 year old))
303,Indigenous Australians,47,9.47581
304,Other Australians,449,90.5242
305,Total,496,100

In [72]:
b_17 = b.loc[307:309, [0,1,2]]
b_17.columns = ['', 'Number(All ages)', 'Percent (All ages)']
b_17

                            Number(All ages) Percent (All ages)
307  Indigenous Australians               73            5.85875
308       Other Australians             1173            94.1413
309                   Total             1246                100

In [74]:
result_1 = pd.merge(b_16, b_17, on = [''])
# result_1

,,Number (Infants (<1 year old)),Percent (Infants (<1 year old)),Number(All ages),Percent (All ages)
0,Indigenous Australians,47,9.47581,73,5.85875
1,Other Australians,449,90.5242,1173,94.1413
2,Total,496,100,1246,100

In [75]:
result_1.to_csv('Number of whooping cough hospitalisations by Indigenous status and age, Australia, 2014–2016.csv', index = False)

In [78]:
b_18 = b.loc[313:314, [0,1,2,3,4,5,6,7,8,9,10,11,12,13]]
b_18.columns = ['', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', 
                '2012', '2013', '2014', '2015', '2016']
# b_18

,,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
313,Indigenous,1280.9,1176.03,838.57,841.7,3891.05,6249.63,1981.51,5059.85,2035.81,1048.46,793.02,881.01,910.50
314,Other Australians,711.28,626.39,395.7,273.18,932.57,1813.55,1549.24,1812.61,1061.34,593.91,503.17,519.55,519.71

In [79]:
b_18.to_csv('Crude hospitalisation rates (hospitalisations per million population) for whooping cough among infants by Indigenous status, Australia, 2004 to 2016.csv', index = False)

In [131]:
b_19 = b.loc[327:329, [0,1,2]]
b_19.columns = ['', 'Number', 'Percent']
b_19.drop(b_19.tail(1).index,inplace=True) 
# b_19

                           Number Percent
327  Infants (<1 year old)     14    46.7
328    1 year old or older     16    53.3

In [130]:
b_20 = b.loc[333:335, [0,1,2]]
b_20.columns = ['', 'Number', 'Percent']
b_20.drop(b_20.tail(1).index,inplace=True) 
# b_20

                       Number Percent
333         Indigenous      1     3.3
334  Other Australians     29    96.7

In [132]:
result_2 =pd.concat([b_19, b_20])
result_2

                           Number Percent
327  Infants (<1 year old)     14    46.7
328    1 year old or older     16    53.3
333             Indigenous      1     3.3
334      Other Australians     29    96.7

In [133]:
result_2.to_csv('Deaths from whooping cough in New South Wales, Queensland, Western Australia, South Australia and the Northern Territory combined, 2000–2016.csv', index = False)

In [134]:
b_21 = b.loc[333:335, [0,1,2]]
b_21.columns = ['', 'Number', 'Percent']
# b_21

                       Number Percent
333         Indigenous      1     3.3
334  Other Australians     29    96.7
335              Total     30     100

In [135]:
b_21.to_csv('Deaths from whooping cough by Indigenous status, New South Wales, Queensland, Western Australia, South Australia and the Northern Territory combined, 2000–2016.csv', index = False)